@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: url(img/fundoCont.png);
	}

div#container{
	width:1024px;
	height:894px;
	margin:0 auto;
	box-shadow:0px 0px 10px rgba(0,0,0,1);
		}	

header#cabecalho{
	background-image:url(img/fundoCabec.png);
	background-repeat: no-repeat;
	display:block;
	width:1024px;
	float:left;
	height:160px;
	margin:0 0 10px 0;
	}
	
header#cabecalho h1{
	font-size:20pt;
	margin: 10px;
	}
	
header#cabecalho p{
	font-size:8pt;
	font-weight: bold;
	margin:0 10px;
	}	
	
nav#mnSup{
	float:left;
	display:block;
	width:230px;
	height:43px;
	margin-top:34px;
	
	}
	
nav#mnSup ul{
	width:300px;
	height:43px;
	}

nav#mnSup ul li{
	list-style-type:none;
	width:86px;
	height:43px;
	float: left;
	}	

	nav#mnSup a{
	display: block;
	width:86px;
	height:43px;
	text-decoration:none;
	color:#FFF;
	line-height: 40px;
	
	}
	
nav#mnSup a:hover{
	clor:red;
	}
		
nav#mnSup a.logout{
	display: block;
	width:86px;
	height:43px;
	text-decoration:none;
	color:#FFF;
	background-image:url(img/logout-5.png);
	}
	
nav#mnSup a.logout:hover{
	background-image:url(img/logoutHover-5.png);
	}
	

#corpo{
	background:#fff;
	background-image:url(img/fundoCont.png);	
	width:1024px;
	height:750px;
	}

	#corpoLogin{	
	margin-top: 92px;
	width:1024px;
	height:750px;
	}
	

aside#left{
	width:200px;
	height:529px;
	background-color:#FFF;
	display:block;
	float:left;
	clear:both;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	}

aside#left nav h2{
	width:195px;
	height:34px;
	display:block;
	background-image:url(img/fundoTitMn.png);
	font-size:10pt;
	color:#FFF;
	font-weight:normal;
	line-height:34px;
	padding-left:5px;
	}	
	
aside#left nav ul{
	width:195px;
	height:100px;
	display:block;
	padding-left:5px;
	margin-top:5px;
	}	
	
aside#left nav ul li{
	list-style-type:none;
	}
		
aside#left nav ul li a{
	display:block;
	float:left;
	color:#333333;
	text-decoration:none;
	text-transform:uppercase;
	margin:5px;
	}	

aside#left nav ul li a:hover{
	text-decoration:underline;
	}			
			

/* lista produtos */

ul#produtos{
	border-top: 2px solid #333333;
	margin-top:10px;
	width:750px;
	height:120px;
	background-color:#CCCCCC;
	display:block;
	float:left;
	padding:7px;
	}
	
ul#produtos li{
	list-style-type:none;
	}
		
ul#produtos li a{
	display:block;
	float:left;
	color:#333333;
	text-decoration:none;
	text-transform:uppercase;
	margin:5px;
	}	

ul#produtos li a:hover{
	text-decoration:underline;
	}			


section#conteudo{
	width:780px;
	height:480px;
	display:block;
	float:right;
	margin:29px 12px 0px 6px;
	background-color:#FFF;
	padding:10px;
	color:#333;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	overflow:scroll;
	}	

section#conteudoLogin{
	width:780px;
	height:480px;
	display:block;
	float:right;
	margin:50px 110px 0px 6px;
	background-color:#FFF;
	padding:10px;
	color:#333;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	overflow:scroll;
	}	


footer{
	background:url(img/fundoFooter.png);
	background-repeat:no-repeat;
	margin-top:10px;
	width:1024px;
	height:150px;
	clear:both;
	display:block;
	float:left;
	}
	
.prod{
	text-align:left;
	text-decoration:none;
	margin:5px;
	color:#333333;
	}	
	
.foto{
	width:90px;
	height:90px;
	float:left;
	margin:5px;
	border:3px solid #333333;
	display:block;
	}	

.excluir{
	width:110px;
	height:122px;
	float:right;
	display:block;
	
}	

.alterar{
	width:110px;
	height:122px;
	float:right;
	display:block;
		}
		
hr.linha{
	width:760px;
	height:2px;
	display:block;
	border:0px;
	float:left;
	margin:15px 0px;
	background-image:url(img/fundoLinha.png);
	background-repeat:repeat-x;
	}		
	
.fones{
	float:left;
	font-size:10pt;
	font-weight:500;
	margin:30px;
	}	
	
.endElet{
	float:right;
	font-size:10pt;
	font-weight:500;
	margin:30px;
	}	
	
.cop{
	float:left;
	display:block;
	width:500px;
	font-size:8pt;
	font-weight:500;
	margin:14px 345px 0 345px;
	color:#FFF;
	}	
	
.noti{
	width:195px;
	height:34px;
	display:block;
	float:left;
	background-image:url(img/fundoTitMn.png);
	font-size:10pt;
	color:#FFF;
	font-weight:normal;
	line-height:34px;
	padding-left:5px;
	}

.titcont{
	width:795px;
	height:43px;
	display:block;
	float:right;
	position:absolute;
	margin:174px 0px 0px 212px;
	background-image:url(img/fundoTitCont.png);
	font-size:10pt;
	color:#FFF;
	font-weight:normal;
	line-height:43px;
	padding-left:5px;
	}
	
.titcontLogin{
	width:795px;
	height:43px;
	display:block;
	float:right;
	position:absolute;
	margin:8px 0px 0px 114px;
	background-image:url(img/fundoTitCont.png);
	font-size:10pt;
	color:#FFF;
	font-weight:normal;
	line-height:43px;
	padding-left:5px;
	}
	

.titcontinicio{
	width:795px;
	height:43px;
	display:block;
	float:right;
	position:absolute;
	margin:190px 0px 0px 212px;
	background-image:url(img/fundoTitCont.png);
	font-size:10pt;
	color:#FFF;
	font-weight:normal;
	line-height:43px;
	padding-left:5px;
	}		
			

.avisos{
	text-align:center;
	text-decoration: underline;
	font-weight: bold;
	color: red;
	}	
	
span.tit{
	text-decoration:underline;
	}
	
	
	
#formLogin{
	width:710px;
	height:300px;
	margin:30px auto;
	background:#EEEEEE;
	padding:5px;
	}	
	
form{
	width:700px;
	height:auto;
	margin:0 auto;
	background:#EEEEEE;
	padding:5px;
	}
	
form fieldset{
	border:none;
	}
	
form fieldset legend{
	float:left;
    width:200px;
	margin:10px;
	display:block;
 	color:#333333;
	font-weight:bold;		
	}

form label{
	width:500px;
    display:block;
    float:left;
    margin-left:30px;
    padding:5px 0;
	}	
	
form label span{
 	color:#333333;
	float:left;
	}	
	
.campos{
	background:#FC0;
	border:3px solid #333333;
	width:200px;
	float:right;
    color: #FFF;
	}	

.btn{
	background:#FC0;
	border:3px solid #333333;
	width:100px;
    margin:10px;
	font-weight:bold;
    color: #FFF;
	}	
	
.radio{
	margin:0 15px;
	}	
	
/* lista Usuarios */

ul#usuarios{
	border-top: 2px solid #333333;
	margin-top:10px;
	width:750px;
	height:180px;
	background-color:#CCCCCC;
	display:block;
	float:left;
	padding:7px;
	}
	
ul#usuarios li{
	list-style-type:none;
	}
		
ul#usuarios li a{
	display:block;
	float:left;
	color:#333333;
	text-decoration:none;
	text-transform:uppercase;
	margin:5px;
	}	

ul#usuarios li a:hover{
	text-decoration:underline;
	}			

.user{
	text-align:left;
	text-decoration:none;
	margin:5px;
	color:#333333;
	}	

	
