@charset "utf-8";
/* CSS Document */

/************ RESET ************/
*{ padding:0px; margin:0px; border:none; font-size:100%; outline:none; font-weight:300; box-sizing:border-box; font-family: 'Roboto Condensed', sans-serif; }
body{backgound-color:#FFF;}
a{text-decoration:none;}
ul{list-style-type:none;}
img { max-width:100%; }
strong{	font-weight:normal;}
h1{	padding:3px; width:450px; height:25px; line-height:25px; display:block; color:#00F; font-size:20px; text-align:left; border-bottom:1px solid #ff0505; margin:20px 0px; }
h2{ font-size:15px; color:#ff0505; text-align:center; margin:10px 0px; }
h3{ font-size:15px; color:#00F; text-align:left; margin:10px 0px; }
p{ padding:5px; text-align:justify; font-size:13px; }
figure{ display:inline-block; float:left; margin:15px 30px; }
figcaption{ padding:5px; text-align:right; font-size:10px; font-weight:bold; }
figure img{ border:2px solid #00F; }


/************ container geral ************/	
#wrapp{ width:100%; height:auto; text-align:center; margin:0px; }

/************ cabeçalho ************/
#cabecalho{ width:100%; height:201px; background: url(../img/backgroundCabecalho.png) repeat-x; float:left; text-align:center; }
.btnMenu{  width:40px; height:40px; float:right; display:none; text-align:center; color:#0CF; border-radius:40px; cursor:pointer; background:#FF0; margin-top:10px;}
.logo_320{ display:none !important; margin-top:18px; float:left;}
.logoScreen{ display:block !important; width:516px; height:136px; margin:1% 32% 0.8% 32%; float:left;}

/************ menu ************/
#cabecalho ul#menu{	width:73.20644216691069%; height:40px; display:block; margin:0 13.5%; float:left; line-height:40px; font-size:14px; }
.btnClose{display:none;}
#cabecalho ul#menu li{ width:140px; height:30px; border-left:1px solid #FF0505; line-height:30px; float:left; margin-top:0.5% }
#cabecalho ul#menu li.ultimo{ width:138px; height:30px; border-left:1px solid #FF0505; line-height:30px; border-right:1px solid #FF0505; float:left; margin-top:0.5%;}
#cabecalho ul#menu li:hover ul#submenu{	display:block; position:relative; z-index:7; }
#cabecalho ul#menu li a:link{color:#00F;  font-weight:bold;}
#cabecalho ul#menu li a:visited{color:#FF0505; font-weight:bold;}
#cabecalho ul#menu li a:hover{ color:#FFF; font-weight:bold;}
#cabecalho ul#menu li a:active{ color:#000; font-weight:bold;}
/************ submenu ************/
#cabecalho ul#submenu{ margin-top:3px; width:140px;	float:left;	height:100px; display:none;	z-index:8; }
#cabecalho ul#submenu li{ width:140px; height:30px;	border-bottom:1px solid #FF0505; border-left:none; float:left;background-color:#CAE5F3; line-height:30px; }

/************ Banner Nivo ************/
#banner{ width:100%; height:440px; display:block; float:left; background:#FFF; z-index:6;}

/************ Conteudo geral ************/
#conteudo{ width:73.20644216691069%; height:auto; display:block; margin:0px auto; overflow:hidden; }

/************ Section Uniformes ************/
.uniformes{ display:block; width:100%; height:350px; margin:20px 0px; float:left; }	

/************ Article profissionais ************/
.profissionais{ width:475px; float:left; }

/************ Página dicas ************/
.esq{ padding:3px; width:470px; height:100px; float:left; margin:10px; display:block; border:2px solid #ff0505; border-radius:5px; background:#CFE8F5; }
.dir{ padding:3px; width:470px; height:100px; float:right; margin:10px; border:2px solid #ff0505; border-radius:5px; background:#CFE8F5; }

/************ Article escolares ************/
.escolares{	width:475px; float:right;}

/************ Article sobre ************/
.sobre{	display:block; width:100%; height:550px; margin:20px 0px; float:left; }	
.vejaMais{width:100%; text-align:center; display:block; float:left;}

/************ Article contatos ************/
.contatos{ display:block; width:100%; padding:2% 0; height:auto; margin:20px 0px; text-align:center; float:left; background:#CFE8F5; }		
p.contato{ padding:5px; text-align:center; font-size:13px; font-weight:bold; }
img.cont{ margin:15px 0px; }
.fone{display:block; width:320px;	height:auto; float:left; }
.mail{display:block; width:320px; height:auto; float:left; }
.local{display:block; width:320px; height:auto; float:left; }
.imgFabrica{ margin:7px; }	
.fabrica{ display:block; width:100%; height:750px; margin:20px 0px; float:left; }

/************ Rodapé ************/
#rodape{ width:100%; height:160px; background:url(../img/backgroundRodape.png) repeat-x; clear:both; margin-top:30px;}
footer{	display:block; width:1000px; height:145px; margin:0px auto; padding:5px 10px 0px 10px; }
.logoMurad{	float:right; width:109px; height:102px; margin:0px; }
.logouniformes{ float:left; width:160px; height:110px; margin:0px; }
footer figure figcaption{ display:none; font-size:9px; margin:0px; }
footer figure img{ border:none;	}
footer ul#mn{ width:600px; height:40px; display:block; font-size:14px; font-weight:bold; float:left; margin:10px 40px; }
footer ul#mn li{ text-align:center; width:85px; height:20px; float:left; }
footer ul#mn li a:link{ text-decoration:none; color:#00F; }
footer ul#mn li a:visited{ color:#FF0505; }
footer ul#mn li a:hover{ color:#FF0505; }
footer ul#mn li a:active{ color:#000; }
.desenvolvido{display:none;}

/************ Páginação Resultados ************/
#paginacao{ width:auto; height:35px; margin:10px auto; display:block; float:left; clear:both; }
.numero{ text-decoration:none; background:#2A85B6; text-align: center; padding: 3px 0; display: block; margin:0 2px; float:left; width:20px; color: #fff; }
.numero:hover, .numativo, .controle:hover{ background:#1B3B54; }
.controle{ text-decoration:none; background:#2A85B6; text-align:center; padding:3px 8px; display:block; margin:0 3px; float:left; color: #FFF; }


/************ Página etiquetas ************/
.dicas{	display:block; width:100%; height:auto; margin:20px 0px; float:left; }
#grupoEtiqueta{	display:block; width:70%; height:auto; border:2px solid #ff0505; border-radius:1em; background:#CFE8F5; float:left; margin:2% 15%; padding:3% 2%; }
#grupoEtiqueta figure{ width:auto; display:block; float:left; margin:0 2%;  }
#grupoEtiqueta figcaption{ text-align:center; font-size:12px; }
#grupoEtiqueta img{ border:none; }	
.etiqueta{ width:100%; height:auto; float:left; margin:2% 0; display:block; padding:3% 2%; border-bottom:1px dashed #ff0505; }
p.center{ text-align:center; }
.fraseAbaixo{ width:100%; display:block; float:left;}
#contEtiq{ width:32%; display:block; height:135px; float:left; margin:0.5%; }
#contEtiq figure{ width:100px; display:block; margin:10px; float:left; }
#contEtiq img{ border:none;	}
#contEtiq p{ float:right; display:block; width:60%; }
#contEtiqEsq{ width:40%; height:135px; display:block; float:left; margin:1% 5%;}
#contEtiqEsq img{ border:none; }
#contEtiqEsq figure{ width:100px; display:block; margin:10px; float:left;  }
#contEtiqEsq p{ float:right; display:block; width:60%;  }
#contEtiqDir{ width:40%; height:135px; display:block; float:right; margin:1% 5%;}
#contEtiqDir img{ border:none; }
#contEtiqDir figure { width:100px; display:block; margin:10px; float:left; }
#contEtiqDir p{ float:right; display:block; width:60%; }
.etiqueta figure figcaption{ text-align:center; }	
.icones{ display:block; margin:5px 170px; text-align:center; }
		
/************ Página Localização ************/
.localizacao{ display:block; width:100%; height:650px; margin:20px 0px; float:left; text-align:center; }
.localizacao p{	text-align:center; }	
.localImg{ display:block; margin:10px auto; }	
.mapa1{ width:410px; height:400px; float:left; margin:10px 41px; border:2px solid #FF0505; }	
.mapa1 figure{ float:left; margin:0 5px; }
.mapa2{ width:410px; height:400px; float:left; margin:10px 35px; border:2px solid #FF0505; }
.mapa2 figure{ float:left; margin:0 5px; }
.demaisContatos{ display:block;	width:100%;	height:690px; margin:20px 0px; float:left; text-align:center; }
.dadosContato{ width:450px; height:500px; float:left; margin:10px 20px; }
ul.dados{ width:400px; text-align:left;	display:block; margin:10px; list-style-type:circle; list-style-position:inside; font-size:14px;	}
ul.dados li{ margin:5px 0; }		
.formContato{ width:450px; height:500px; float:left; margin:10px 20px; }	
form{ width:340px; height:400px; display:block; float:left; margin:0 50px; }
form fieldset{ border-collapse:collapse; border: 1px solid #666; padding:5px; }
form legend{ font-size:15px; font-weight:bold; color:#FF0505; width:70px; margin:0px 5px; }
form textarea{ border:1px solid #d1c7ac; width:230px; padding:3px; color:#959595;}
form label{ height:100%; width:100%; display:block; margin:2px 0; text-align:left; }
input[type="text"] { background-image: url(../admin/img/bgInpText.png); background-repeat:repeat-x; border:1px solid #d1c7ac; width: 230px; padding:3px; color:#959595; }
input[type="email"] { background-image: url(../admin/img/bgInpText.png); background-repeat:repeat-x; border:1px solid #d1c7ac; width: 230px; padding:3px; color:#959595; }
form .btn{ background:#fff url(../admin/img/bgInptBtn.png); width:50px; height:50px; font-weight:bold; color:#FF0505; }
form .btn:hover{ color:#00F; text-decoration:underline; }
form span{ font-size:13px; width:20%; display:block; float:left; margin:0 2.5%; }			
	





/************ smartphones min 320px max 400px ************/
@media (min-width: 320px) and (max-width: 480px){

/************ cabeçalho ************/	
.btnMenu{display:block;}
.logoScreen{display:none !important;}
.logo_320{display:block !important; }

/************ menu ************/	
#cabecalho ul#menu{	background-color:RGBA(0,0,0,0.9); width:100%; height:100%; display:none; float:left; position:fixed; z-index:6; top:0; left:0; margin:0; font-size:14px; font-weight:bold; text-align:center; }
.btnClose{display:block; float:right; margin:2% 3% 0 0; font-size:1.5em; color:#FFF; cursor:pointer;}
#cabecalho ul#menu li{ width:100%; float:left; border:none; }
#cabecalho ul#menu li.ultimo{width:100%; float:left; border:none;}
#cabecalho ul#menu li:hover ul#submenu{	width:30%; display:block; float:left; margin:2px 110px; z-index:8; }

/************ Banner Nivo ************/
#banner{ height:auto; }

/************ Conteudo geral ************/
#conteudo{ width:100%; display:block; height:auto; }

/************ Sections uniformes ************/
.uniformes{ display:block; padding:2%; width:100%; height:auto; float:left; }
.uniformes header{ width:100%; display:block; float:left; }	
.uniformes h1{display:block; padding:3% 2%; width:100%; height:auto; text-align:center; border-bottom:1 px solid #FF0505;}

/************ Article profissionais ************/
.profissionais{ width:100%; float:left; }
.profissionais img.icones{margin:2% auto;}

/************ Article Escolares ************/
.escolares{ width:100%; float:left; }
.escolares img.icones{margin:2% auto;}

/************ Sections sobre ************/
.sobre{	display:block; padding:2%; width:100%; height:auto; float:left;  }	
.sobre p{ text-align:justify; }
.sobre header{ width:100%; display:block; float:left; }	
.sobre h1{display:block; padding:3% 2%; width:100%; height:auto; text-align:center; border-bottom:1 px solid #FF0505;}
.vejaMais{width:100%; background-color:#FF0; text-align:center; display:block; float:left;}
.sobre figure{width:100%; display:block; margin:0 auto; float:left;}
.sobre figcaption{text-align:center;}

/************ pagina etiquetas Sections dicas ************/
.dicas{	display:block; width:100%; height:auto; margin:20px 0px; float:left; overflow:hidden; }
.dicas header{ width:100%; display:block; float:left; }	
.dicas h1{display:block; padding:3% 2%; width:100%; height:auto; text-align:center; border-bottom:1 px solid #FF0505;}

/************ Article contatos ************/
.contatos{padding:3% 2%;}
.contatos header{ width:100%; display:block; float:left; margin:2% 0; }	
.contatos h1{display:block; padding:3% 2%; width:100%; height:100%; text-align:center; border-bottom:1 px solid #FF0505;}
.contatos article{width:100%; height:auto; float:left; display:block; }
.fone{ width:100%;	height:auto; float:left; margin:5% 0; }
.mail{ width:100%; height:auto; float:left; margin:5% 0; }
.local{	width:100%; height:auto; float:left;margin:5% 0;}
h3{ font-size:15px; color:#00F; text-align:center; }

/************ Article fabrica ************/
.fabrica{ display:block; width:100%; height:auto; float:left;  margin:2% 0;  padding:3% 2%; }	
.fabrica header{ width:100%; display:block; float:left; height:auto;  }
.fabrica h1{display:block; padding:3% 2%; width:100%; height:100%; text-align:center; border-bottom:1 px solid #FF0505;}
.fabrica figure{width:100%; display:block; margin:0 auto; float:left;}
.fabrica figcaption{text-align:center;}
.fabrica article{display:block; float:left; height:auto; }

/************ Página etiquetas ************/
#grupoEtiqueta{	display:block; width:70%; height:auto; border:2px solid #ff0505; border-radius:1em; background:#CFE8F5; float:left; margin:2% 15%; padding:3% 2%; text-align:center; }
#grupoEtiqueta figure{ width:50%; display:block; float:left; margin:2% 23%;  }
#grupoEtiqueta figcaption{ text-align:center; font-size:12px; }
#grupoEtiqueta img{ border:none; }	
.etiqueta{ width:100%; height:auto; float:left; margin:2% 0; display:block; padding:3% 2%; border-bottom:1px dashed #ff0505; }
p.center{ text-align:center; }
.fraseAbaixo{ width:100%; display:block; float:left;}
#contEtiq{ width:100%; display:block; height:135px; float:left; margin:0.5%;  }
#contEtiq figure{ width:100px; display:block; margin:10px; float:left; }
#contEtiq img{ border:none;	}
#contEtiq p{ float:right; display:block; width:50%; }
#contEtiqEsq{ width:100%; height:auto; display:block; float:left; margin:1% 0;}
#contEtiqEsq img{ border:none; }
#contEtiqEsq figure{ width:100px; display:block; margin:10px; float:left;  }
#contEtiqEsq p{ float:right; display:block; width:50%;  }
#contEtiqDir{ width:100%; height:auto; display:block; float:left; margin:1% 0; }
#contEtiqDir img{ border:none; }
#contEtiqDir figure { width:100px; display:block; margin:10px; float:left; }
#contEtiqDir p{ float:right; display:block; width:50%; }
.etiqueta figure figcaption{ text-align:center; }	
.icones{ display:block; margin:5px 170px; text-align:center; }

/************ Página dicas ************/
.esq{ padding:2%; width:95%; height:auto; margin:2%;  border-radius:1em;}
.dir{ padding:2%; width:95%; height:auto; margin:2%;  border-radius:1em; }

/************ Rodapé ************/
footer{ width:100%; height:145px; margin:0px auto; padding:5px 10px 0px 10px; }
#rodape p.contato{text-align:justify; font-weight:bold;}
.logoMurad{ display:none; }
.logouniformes{ display:none; }
footer ul#mn{ display:none; }
.desenvolvido{display:block;}
.foot{font-weight:bold;}


/************ Página Localização ************/
section header{ width:100%; display:block; float:left; height:auto;  }
section h1{display:block; padding:3% 2%; width:100%; height:100%; text-align:center; border-bottom:1 px solid #FF0505;}

.localizacao{ height:auto; padding:3% 2%;}
.localizacao p{	text-align:justify; }	
.mapa1{ width:100%; height:auto; margin:2% 0; }
iframe{width:100%;}	
.mapa1 figure{ margin:0 1%; }
.mapa2{ width:100%; height:auto; float:left; margin:2% 0; }
.mapa2 figure{  margin:0 1%; }
.demaisContatos{ height:auto; padding:3% 2%; }
.dadosContato{ width:100%; height:auto; margin:2% 0; }
ul.dados{ width:100%; margin:2%;}
ul.dados li{ margin:2%; }		
.formContato{ width:100%; height:auto; margin:0; }	
form{ width:100%; height:auto;  margin:0;}
.formContato span{text-align:center; font-weight:bold; display:block; position:relative; margin-left:38%; float:left;}
-> form fieldset{ border-collapse:collapse; border: 1px solid #666; padding:0; }
form textarea{ border:1px solid #d1c7ac; width:100%; height:auto; padding:1%; color:#959595;}
form label{ height:auto; width:100%; margin:1% 0; text-align:center; }
input[type="text"] { height:auto; width:100%; margin:1% 0; background-image: url(../admin/img/bgInpText.png); background-repeat:repeat-x; border:1px solid #d1c7ac; padding:1%; color:#959595; }
input[type="email"] { height:auto; width:100%; margin:1% 0; background-image: url(../admin/img/bgInpText.png); background-repeat:repeat-x; border:1px solid #d1c7ac; padding:1%; color:#959595; }


}



/*@media only screen and (min-width: 480px) and (orientation: landscape) {
footer{ width:100%; height:145px; margin:0px auto; padding:5px 10px 0px 10px; }
.logoMurad{ display:none; }
.logouniformes{ display:none; }
footer ul#mn{ display:none; }
.desenvolvido{display:block;}
}
@media screen and (min-width:1280px){ 
.logoScreen{display:block; }
.logo_320{display:none; }
#cabecalho ul#menu{	background-color:#000; display:block; margin:2px 100px; font-size:14px; float: left; font-weight:bold; }
#cabecalho ul#menu li{ width:45px; height:20px; border-left:1px solid #FF0505; float:left; }
#cabecalho ul#menu li.ultimo{ width:138px; height:20px; border-left:1px solid #FF0505; border-right:1px solid #FF0505; float:left;
}
*/