@charset "utf-8";
/* CSS Document */

/************ RESET ************/
@font-face { font-family:riffic; src:url(../font/riffic.ttf); }
*{ padding:0px; margin:0px; border:none; font-size:100%; outline:none; font-weight:300; box-sizing:border-box; font-family: riffic; color:#B6999A;}
body{ background-color:#F6F6F6;}
a{text-decoration:none;}
img { max-width:100%; height:auto; }
strong{	font-weight:normal;}
h1{	padding:0; margin:0; }
h2{ padding:0; margin:0; }
h3{ padding:0; margin:0; }
p{ padding:3px; margin:0; font-size:0.875em; }
strong{color:#000;}

/************ container geral 
#wrap{ width:100%; margin:0 auto; }
************/


/************ header cabecalho ************/
.cabecalho{ width:100%; display:block; float:left; padding:3px;  }

#icones{text-align:center; position:fixed; top:0; right:0; background-color:#FFF; display:block; float:left; width:100%; padding:3% 5%; box-shadow: 0 3px 4px rgba(0, 0, 0, .5); overflow:hidden; }
#icones img{ width:auto; height:auto; display:inline-block; }
#icones img.esq{ float:left; }
#icones img.dir{ float:right; }




.menu{ position:fixed; top:0; right:0; background:rgba(0, 0, 0, 0.8); display:none; float:left; width:100%; height:100%; padding:3px; }
.btnClose{font-size:3em; float:right; color:#F6F6F6; float:right; cursor:pointer;}
.menu ul{width:100%; height:30px; float:left; text-align:center;}
.menu ul li{ width:auto; display:block; padding:1.5% 3%;}
.menu ul li a{ font-size:2em; color:#F6F6F6; }
.menu ul li a:hover{color:#F01E2D; }
/************ Logo Grande ************/
.top{width:100%; display:block; float:left; padding:3px; margin-top:60px; text-align:center; font-size: 1.25em; color:#B6999A;}
.logoGrande figcaption{display:none;}

/************ Slide ************/
.slideIndex{width:100%; display:block; float:left; background-color:#000;}
.slide figcaption{display:none;}
#slideImg{ width:100%; height:280px; background-image:url(../imgs/lupe-1.jpg); background-repeat:no-repeat; background-color:#000; background-size:cover; display:block; float:left; }

/************ Botões ************/
.botoes{width:100%; display:block; float:left; text-align:center;}
.btnCao, .btnGato, .btnOnde{display:block; float:left; background-color:#F01E2D; border-size:1px; border-color:#FFF; border-style:double; border-radius:10px; padding:15px 0; width:250px; margin:10px 30px; font-size:1.25em; color:#F6F6F6; cursor:pointer; }

/************ Informações / contato ************/
.informacoes{width:100%; display:block; float:left; text-align:center; font-size: 1em; }

/************ Redes sociais ************/
.redeSocial{width:100%; display:block; float:left; text-align:center; font-size: 0.875em; }
.social figure{display:inline-block; margin:5px; font-size: 0.875em;}

/************ Rodapé ************/
.rodape{ width:100%; padding:3px; height:auto; text-align:center; display:block; float:left;}
.menuFoot ul{ list-style:square inside url("../imgs/circleList.png")!important; margin:5px 10px; width:100%; display:block; float:left; }
.menuFoot ul li { width:auto; margin:5px 3px;  float:left; }
.menuFoot ul li a {font-size:0.875em;}
.rodape p a {color:#F01E2D; font-size:0.785em;}