/********** whatsapp ***********/

#whatsapp{
    position:fixed;
    bottom: 50px;
    right: 50px;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
  
}
#whatsapp .icone{
    display: flex;
    width: 80px;
    height: 80px;   
    background-color: var(--black-color);
    box-shadow: var(--bx-shdw);
    color: var(--orange-clean-color);
    padding: 15px;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    
}

#wapp{
    width: auto;
    display: none;
    position: relative;
    right: -10px;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--black-color);
    box-shadow: var(--bx-shdw);
    color: var(--orange-clean-color);
    z-index: 149;
}

/********** design ***********/

.contato{
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    color:var(--grey-medium-color);
    width: 100vw;
}
.contato .container{
    justify-content: space-between;
    margin: 0 10px;    
}
.fone,
.socialMedia{
    display: flex;
    margin:2px;
    color:var(--grey-clean-color);
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
/********** header Menu ***********/

.showNav{
    background-color: var(--orange-clean-color);
    border-radius: 25%;
    padding: 10px;
    display: none;

}
#navMobile{
    display: none;
}

/*** logotipo ***/

.logo{
    max-width:460px;
    margin:20px 0;
}
.logo img{
    width: 100%;
}

.menu{
    display: flex;
    flex: 1;
    justify-content: center;
}
.menu ul{
    display: flex;
    justify-content: center;   
}
.menu ul li a{
    display: flex;
    padding: 12px;
    color:var(--black-color);
    margin: 0 2px;
    font-weight: bold;
}
.menu .active a,
.menu a:hover{
    background-color: var(--black-color);
    color:var(--white-color);   
}

/********** section Banner ***********/
#banner
{
    border-top: 5px solid var(--black-color);
    background-position:center;
    background-size: cover;
    height: 450px;
    background-attachment:fixed;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .container {
    justify-content: center;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
}
#banner .container h2 {
    display: flex;
    text-transform: uppercase;
    font-size: 2.6em;
    text-shadow:  var(--txt-shdw);
    color: var(--orange-clean-color);
}
#banner .container .icone{
    display: flex;
    font-size: 1.8em;
    text-shadow:  var(--txt-shdw);
    display: none;
}
#banner .container p{
    display: flex;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    text-shadow:  var(--txt-shdw);
    font-weight: 600;
}

#banner.index{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.5),
    rgba(11, 37, 32, 0.6)
  ), url(../img/online-web-design-1-scaled.jpg);
}
#banner.sobre{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.5),
    rgba(11, 37, 32, 0.6)
  ), url(../img/workspace.jpg);
  
}
#banner.portfolio{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.5),
    rgba(11, 37, 32, 0.6)
  ), url(../img/portfolio.jpg);
}
#banner.blog{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.5),
    rgba(11, 37, 32, 0.6)
  ), url(../img/blog.jpg);
}
#banner.contato{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.5),
    rgba(11, 37, 32, 0.6)
  ), url(../img/contato.jpg);
}

/********** section Info ***********/

#info{
    display: flex;
    justify-content:center;
    height: 550px;
    
    background-image: linear-gradient(
        rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
         url(../img/19746.jpg);
        background-blend-mode:color;
    background-position:center;
    background-size: cover;
    background-color:rgba(0, 0, 0,0.3);

}
/********** Infoboxes ***********/
.infoTop{
    display: flex;
    flex-wrap: wrap; 
    flex: 1;
}
.infoBox{
    display: flex;
    flex: 1;
    min-width:250px;
    max-height: 330px;
    justify-content: center;
    margin: 10px;
    text-align: center;
    color: var(--grey-medium-color);
    flex-direction: column;
      
}
.icone{
    font-size: 1.6em;  
}

/********** infobotom>margin negativa ***********/

#info .container .infoBottom{
    display: flex;
    background-color:var(--white-color);
    height: 200px;
}
#info .container .infoBottom .infoBottomContent{
    display: flex;
    background-image: linear-gradient(RGBA(220,220,220, 0.5), var(--white-color));
    height: 320px;
    padding: 10px;
    position: relative;
    margin:20px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 500px;
    flex-wrap: wrap;
}

.infoBottomContent div{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    min-width: 350px;
    flex: 1;
}
.infoBottomContent div h2,
.infoBottomContent div p{
    display: flex;
}
.infoBottomContent div h2{
    font-size: 1.8em;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.infoBottomContent div p{
font-size: 1em;
}
.infoBottomContent div .icone{
    color: var(--orange-clean-color);
    padding: 8px;
    margin: 0 5px 5px 0;
    justify-content: flex-end;
    background-color: var(--black-color);
    border-radius: 5px;
    }
.divisorBordaEsq{
        border-left: 3px solid var(--black-color);
    }

/********** section Content ***********/

#content{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 20px;
}
#content .container{
    align-items: center;
    flex-wrap: wrap;
 }
.anunciosHome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    box-shadow:var(--bx-shdw);
}
.contGeral{
    display: flex;
    width: 100%;
}

/********** aside ***********/

aside{
    max-width: 320px;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient( RGBA(220,220,220, 0.5), var(--white-color));
    justify-content: center;
    align-items: center;
    padding: 5px;
    }
aside .ultimas,
aside .parceiros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
}    
aside .areaTitulo{
    display: flex;
    width: 310px;
    justify-content: center;
    align-items: center;

}

aside .icon{
 display:flex;
 font-size: 1.8em;
 padding-right: 10px;
}

aside .h5{
    display: flex;
    font-size: 1.8em;
    justify-self: flex-start;
    align-items: center;
}
.ultimas ul {
    display: flex;
    flex-direction: column;
    width: 310px;
    align-items: center;
    justify-content: center;

}
.ultimas a{
    display: flex;
    font-size: 0.8em;
    border-bottom: 2px dotted #ccc;
    color:var(--black-color);
    padding: 5px;
}
.ultimas a:hover{
    background-color: #f3ecec;
    color:var(--orange-clean-color);
}

.contentParceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.contentParceiros div{
    display: flex;
    background-color: var(--orange-clean-color);
    border:5px solid var(--grey-medium-color);
    margin: 5px ;
    min-width: 145px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex: 1;
}
.contentParceiros div img{
    max-width: 100%;
}

/********** section Content>cards ***********/
.cards{
    display: flex;
    justify-content: center;
    align-content:flex-start;
    flex-wrap: wrap;
    flex:1;
}

.card{
    box-shadow: var(--bx-shdw);
    width: 300px;
    height: 330px;
    text-align: center;
    margin: 0 20px 20px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.card:hover{
    background-color:#f3ecec;
    margin: -10px 20px 20px 0;
}

/********** section Responsivo ***********/

#responsivo{
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--orange-clean-color);
    height: 400px;
    border-top:5px solid var(--grey-medium-color);
    padding-top: 30px;
    padding-bottom: 30px;
    
}
#responsivo .container{
    flex-wrap: wrap;
    justify-content: center;
}
.img_resp{
    display: flex;
    flex: 1;
    min-width: 250px;
    min-height: 300px;
    border: 5px solid var(--grey-medium-color);
    border-radius: 15% 0;
    background-image: linear-gradient(
    to right bottom,
    rgba(139,69,19, 0.2),
    rgba(222,184,135, 0.2)
    ), url(../img/9.jpg);
    background-position: left center;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    box-shadow: var(--bx-shdw);
}
.img_resp:hover{
    background-image: linear-gradient(
        to right bottom,
        rgba(139,69,19, 0.0),
        rgba(222,184,135, 0.0)
      ), url(../img/9.jpg);
}
.txt_resp{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.txt_resp h2{
    font-size:1.6em;
}

/********** section Portfólio ***********/

#portfolio{
    height: 650px;
    background-color:var(--grey-medium-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#portfolio h3, #portfolio span{
    display: flex;
    width: 50%;
    align-items: center;
 
}
#portfolio h3{
    display: flex;
    justify-content:flex-end;
    padding-right: 15px;
    font-size: 1.8em;
}
#portfolio span{
    display: flex;
}

#portfolio .container{
    flex-wrap: wrap;
    justify-content: center;

}
#portfolio .portItem{
    width: 235px;
    height: 160px;
    background-color: black;
    margin: 5px;
}
#portfolio .areaItem{
    width: 235px;
    height: 160px;
    
}
#portfolio .itemDesc{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey-medium-color);
    cursor: pointer;
}
#portfolio .itemDesc h2{
    font-size: 1em;
}
#portfolio .areaItem:hover .itemDesc{
    display: flex;
}
#portfolio .areaItem img{
    width: 100%;
    height: inherit;
}

/********** section Dicas ***********/

#dicas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-medium-color);
}
.areaTitulo{
    display: flex;
    width: 100vw;
    color:var(--black-color);
    justify-content: center;
    padding: 15px 0;
}
.areaTitulo h2,
.areaTitulo .icone{
    display: flex;
    font-size: 1.8em;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.areaTitulo .icone{
    padding-left: 15px;
    justify-content: flex-start;
}

#dicas .container{

    justify-content: center;
}
.areaDicas{
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--grey-medium-color);
    width: 100vw;
}
.areaDicas div{
    display: flex;
    flex: 1;
    border-right: 2px solid var(--orange-clean-color);
    flex-direction: column;
    padding: 10px;
    min-width: 245px;
}
.areaDicas div:last-child{
    border: 0;
}
.areaDicas div h2 {
    font-size: 1.3em;
    margin-bottom: 10px;

}

/********** section Destaque2>Surpreenda-se ***********/

#destaque2{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.5),
    rgba(11, 37, 32, 0.6)
  ), url(../img/surpreendase.jpg);
    background-position:center;
    background-size: cover;
    height: 70vh;
    background-attachment:fixed;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--black-color);
}

/********** footer ***********/

footer{
    display: flex;
    background-image: linear-gradient( rgb(79,79,79),rgb(54,54,54),var(--black-color));
    background-color: var(--black-color);
    height: 60vh;
    justify-content: center;
    flex-direction: column;
}

footer .container {
    display: flex;
}
.foo1,
.foo2,
.foo3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-medium-color);
    padding: 40px 0;
}
.left, .middle, .right{
    width: 330px;
    display: flex;
    height: auto;
    flex-direction: column;
}
.fooCont ul {
    color: var(--grey-medium-color);
}
.fooCont ul a{
    color: var(--grey-medium-color);
}
.foo1{
    
    background-color: rgba(79,79,79);
    height: auto;
    
}
.foo1 .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help{
    display: flex;
    width: 100%;
}
    .helpContatcs{
        flex: 1;
    }
    .fooHelpTitle h5{
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 600;
        color: rgba(211, 211, 211, 0.3);
    }
    .contacts ul{
        display: flex;
        margin: 10px 0;
    }
    .contacts ul li a{
        padding: 5px;
        color: var(--grey-medium-color);
        font-size: 1.3em;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        
    }
    .mail a{
        color:var(--grey-medium-color);
        font-size: 1.3em;
        font-weight: 600;
        margin: 10px 0;
    }

    .btnCallForm{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    .btnCallForm .btn{
        width: 80%;
        height: auto;
        padding: 10px;
        background-color:var(--orange-clean-color) ;
        color: var(--black-color);
        cursor: pointer;
        border-radius: 25px;
        font-weight: 600;
        border: none;
        box-shadow: 0px 0px 5px var(--black-color);
    }
    .btnCallForm .btn:hover{
        box-shadow: none;
    }
    .fooLinks{
        display: flex;
        width: 100%;
        height: 45px;
        border-top: 2px solid rgba(211, 211, 211, 0.3);
        border-bottom: 2px solid rgba(211, 211, 211, 0.3);
        margin: 10px 0;
        justify-content: flex-start;
        align-items: center;
    }
    .fooLinks ul{
        display: flex;
        width: 80%;
        padding: 5px 30px;
        justify-content:space-evenly;
    }
    .fooLinks ul a{
        
        
        font-size: 1em;
        font-weight: 600;
        padding: 5px;
        color: var(--grey-medium-color);
    }
    .fooSelo{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
 

.foo2{
    height: auto;
    background-color: rgb(54,54,54);
    
}   

   
    .foo2 .left .fooCont, .foo2 .left .fooTitle,
    .foo3 .left .fooCont, .foo3 .left .fooTitle{
        text-align: left;
    }
    .foo2 .middle .fooCont, .foo2 .middle .fooTitle,
    .foo3 .middle .fooCont, .foo3 .middle .fooTitle{
        text-align: center;
    }
    .foo2 .right .fooCont, .foo2 .right .fooTitle,
    .foo3 .right .fooCont, .foo3 .right .fooTitle{
        text-align: right;
    }
    .foo3{
  
        height: 35vh;
        background-color: var(--black-color);;
    }
    .foo3 .left img{
        max-width: 150px;
    }
    .foo3 .left .fooTitle,
    .foo3 .middle .fooTitle{
        display: none;
    }
    .foo3 .middle {
       justify-content: center;
       align-items: center;
       
    }

    .foo3 .right {
        justify-content: center;
   
        
     }
    .foo3 .right .fooCont p{
        font-size: 0.8em;
    }

    
    .foo3 .middle .fooCont .copy{
    display: flex;
    color:#F20505;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.foo3 .middle .fooCont .copy p{
    width: 100%;
    font-size: 0.7em;
    font-weight: 600;
    color: #ff0000;
 

}

/********** página Sobre ***********/
#contato,
#sobre{
    display: flex;
    justify-content: center;
}
.cite{
    display: flex;
    text-transform: uppercase;
    font-size: 1.8em;
    text-shadow:  var(--txt-shdw);
    color: var(--orange-clean-color);
    align-self: flex-end;
}
.contentContato,
.contentSobre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}
#contato{
    background-image: linear-gradient(
    to right bottom,
    rgba(13, 17, 17, 0.7),
    rgba(11, 37, 32, 0.9)
  ), url(../img/tubo.jpg);
    background-position:center;
    background-size: cover;
    height: auto;
    background-attachment:scroll;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--black-color);
 
}
.contentContato{
    width:100%;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
 .contContato{
    flex:1;
    margin: 2%; 
}
.contContato h2{
    font-size: 2em;
    color: var(--orange-clean-color);
    font-weight: bold;
}
.contContato p{
    font-size:1.5em;
    font-weight: bold;
}
.contForm{
    
    max-width: 45%;
}

.contSobre p{
    text-align: justify;
}
.missao,
.visao,
.valores{
    display: flex;
    max-width: 280px;
    min-width: 280px;
    height: 300px;
    background-color: var(--black-color);
    margin: -50px 10px 20px 10px;
    display: flex;
    color: var(--grey-medium-color);
    flex-direction: column;

}
.contentSobre .areaIcone{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
.contentSobre .areaTexto{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
.contentSobre .areaTitulo {
    width: 100%;
    color: var(--orange-clean-color);

}
.iconeSobre{
    width: 80px;
    height: 80px;
    background-color:var(--orange-clean-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    border-radius: 40px;
    border:5px solid var(--black-color);
}
.contContato,
.contSobre{
    margin: 50px 0;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: green; */
    display: flex;
}
