:root{
    --black-color:#0d0d0d;
    --orange-color:#CA8506;
    --grey-clean-color:#F2F2F2;
    --grey-medium-color:#D3D3D3;
    --grey-foot1-color:#4F4F4F;
    --grey-foot2-color:#363636;
    --grey-foot-title-color:#777777;
    --white-color:#FFF;
}
.acima-cabecalho{
    background-color: var(--black-color);
}
.acima-cabecalho span, .acima-cabecalho a{
    color:var(--grey-clean-color);
    margin: 0px;
}

.header{
    border-bottom: 4px solid var(--black-color);
}

.nav-item{  
    margin: 0px 5px;
}
.nav-link{
    padding: 5px;
    color: var(--black-color);
}

.nav-link:hover{
    background-color: var(--black-color);
    color: var(--grey-clean-color);
}
 .active{
    background-color: var(--black-color);
    color: var(--grey-clean-color);
}
.banner{
    background-color:var(--grey-foot1-color);
    height: 500px;
}
.info{
    background-color: #0d0d0d;
    color: var(--grey-clean-color);
}
.card{
    width:250px;
    color:var(--black-color);
}
