@charset "utf-8";
/* CSS Document */

   *{
       margin:0;
       padding:0;
	}
	
body{
	text-align:center;
	background-color: #CCC;   
	background-image: url(../imgs/linnefundo.jpg);
    font:bold 12px Arial, Helvetica, sans-serif;
	}	
	
#wrap{
	width:900px;
	height:1600px;
	margin:0 auto;
	background-image: url(../imgs/linnefundo.jpg);
	}	
	
#cabecalho {
	width:900px;
	height:200px;
	background-image:url(../imgs/fundocabec.png);
	background-position:top;
	          }
			  
#cabecalho h2 {
	float:right;
	width:200px;
	height:30px;
    text-align:justify;
	color:#333333;
	margin-top:50px;
	margin-right:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;	
	          }
			  
			  
#nav {
	width:405px;
	margin-top:18px;
	float:right;
	background-image:url(../imgs/navimg.png);
	background-repeat:repeat-x;
	margin-left: 20px;
	text-align: right;
	}
	
#nav ul {
	list-style-type:none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 15px;
	}	

#nav ul li {
	display:inline;
	margin-left: 68px;
	}
	
#nav ul li a {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	}	
	
#nav ul li a:hover {
	text-decoration:underline;
	color: #F93;
	font-weight:bold;
	}	
	
			  
#logomarca {
	float:left;
	margin-top:100px;      	
	}
	
#logotipo {
	float:left;
	margin-top:10px; 
	margin-left:170px;

	}	
	
#menu {
	width:900px;
	background-image: url(../imgs/menufnd.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	font-weight:bold;
	}	
		   	
#mn {
	padding-bottom:33px;
    width:900px;
	height:24px;
	list-style-type:none;
	}	

#mn li{	
	display:inline-block;	
    margin-top:1px;
	float: left;
   

	}
	
#mn li a{
    display:block;
    width:108px;
	height:19px;
	background-image:url(../imgs/guiamenu.png);
	padding-top:5px;
	margin-right:10px;
	margin-left:10px;	
	color:#000;
	text-decoration:none;	
	}	

	
#mn li a.active,#mn li a:hover {
	background-image:url(../imgs/guiamenuativo.png);
	color:#FEAA00;
	}		
 

#banner {
	margin-top:10px;
	width:900px;
	height:90px;
	background-image:url(../imgs/banner.jpg)
         }		   
		 
#imgdestaque {
	width:297px;
	height:283px;
	background-image:url(../imgs/imgdestaque.png);
	float:left;
	margin-top:13px;
	}		 
		 
#middle {
	float:left;
	width:350px;
	height:265px;
         }		
		 
#destaquetit{
	margin:0;
	padding:0;
	width:350px;
	list-style-type:none;
	}
	
#destaquetit li{
	display:block;
	float:left;
	width:340px;
	margin:10px 10px 10px 10px;
	padding:27px 0 27px 0px;	
	}	

#destaquetit li.php{
	background-image: url(../imgs/fundotitulophp.png);	
    }
	
#destaquetit li.flash{
	background-image: url(../imgs/fundotitulofls.png);	
	}	
	
#destaquetit li.wordpress{
	background-image: url(../imgs/fundotitulofw.png);		
	}	
	
	

#destaquetit li a{
	display:block;
	float:left;
	text-align:left;
	font-weight:bold;
	margin-left:105px;
 	text-decoration:none;	
	color:#333333;
	}	
	
#destaquetit li a:hover{
 	text-decoration:none;	
	color: #F93;
	}					
	
#siderbar {
	width:234px;
	height:290px;
	background-image:url(../imgs/siderbarfnd.png);
	float:right;
	margin-top:10px;
	}		
	
#inf{ 
    margin-top:10px;
    float:left;
    width:900px;
	border-top: 1px #333333 dotted;
	border-bottom: 1px #333333 dotted;
	padding:5px 0 5px 0px;
    }	
	
#destaqueinf{
	margin:0;
	padding:0;
	width:900px;
	list-style-type:none;
	}
	
#destaqueinf li{
	display:inline;
	float:left;
	margin:10px 0 10px 0;
	width:220px;
	border-right: 1px #333333 dotted;
	padding:5px 0 5px 4px;
	background-image:url(../imgs/destaqueinffnd.png);
	}	

#destaqueinf li a{
	display:block;
	width:100px;
	float:left;
	text-align:left;
	margin-left:123px;
	font-weight:bold;
 	text-decoration:none;	
	color:#333333;
	}

#destaqueinf li a:hover{
 	text-decoration:none;	
	color: #F93;
	}					
					
p.cont{
	text-align:justify;
	font:12px Arial, Helvetica, sans-serif;
  	
	}
#conteudoesq{
	float:left;
    width:210px;	
	padding:0 14px 0 0;
	margin-right:5px;
	border-right: 1px #333333 dotted;
	}
	
#conteudoesq h1{
	float:left;
    width:205px;
	text-align:left;
    border-bottom: 6px solid #333333;
	font:bold 16px Arial, Helvetica, sans-serif;
 	color:#333333;
	}
	
	
#conteudoesqmeio{
	float:left;
    width:210px;
	padding:0 9px 0 0;
	margin-right:5px;
	border-right: 1px #333333 dotted;
	
	}	

#conteudoesqmeio h1{
	float:left;
    width:205px;
	text-align:left;
    border-bottom: 6px solid #333333;
	font:bold 16px Arial, Helvetica, sans-serif;
 	color:#333333;
	}					 			 		 					 		 
	
#conteudodirmeio{
	float:left;
    width:210px;
	padding:0 4px 0 0;
	margin-right:5px;
	}
	
#conteudodirmeio h1{
	float:left;
    width:205px;
	text-align:left;
    border-bottom: 6px solid #333333;
	font:bold 16px Arial, Helvetica, sans-serif;
 	color:#333333;
	}	
	
#conteudodir{
	float:left;
    width:210px;
	padding:0 0 0 10px;
	margin-right:0px;
	border-left: 1px #333333 dotted;
	
	}	
	
#conteudodir h1{
	float:left;
    width:205px;
	text-align:left;
    border-bottom: 6px solid #333333;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#333333;
	}
	
#abaestoque{
	float:left;
    width:210px;
	padding:0 14px 0 0;
	margin-right:5px;
	border-right: 1px #333333 dotted;
	}	
	
#abaestoque h1{
	float:left;
    width:205px;
	padding:6px;
	background-image:url(../imgs/abaestoque.png);
	text-align:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	}						
	
#abaferramentas{
	float:left;
    width:210px;
	padding:0 9px 0 0;
	margin-right:5px;
	border-right: 1px #333333 dotted;
	}	
	
#abaferramentas h1{
	float:left;
    width:205px;
	padding:6px;
	background-image:url(../imgs/abaferrament.png);
	text-align:left;
	font:bold 12px  Arial, Helvetica, sans-serif;
	color:#FFF;
	}				
	
#abadicas{
	float:left;
    width:210px;
	padding:0 6px 0 0;
	margin-right:3px;
	}
	
#abadicas h1{
	float:left;
    width:205px;
	padding:6px;
	background-image:url(../imgs/abadicas.png);
	text-align:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	}				
	
	
#abasites{
	float:left;
    width:210px;
	padding:0 8px 0 5px;
	margin-right:0px;
	border-left: 1px #333333 dotted;
	}
	
#abasites h1{
	float:left;
    width:205px;
	padding:6px;
	background-image:url(../imgs/abasites.png);
	text-align:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	}	
	
	.hr{
    float:left;
    width:900px;
	padding:15px;
	border:none;
	margin-top:10px;
	background-image:url(../imgs/linefooter.png);
			
		}	
		
#footer{
	float:left;
    width:900px;
	display:block;
	background-image:url(../imgs/footerimg.png);
	padding:170px 0;
	}
				
																					
